/* material table bottom bar formatting */
.MuiTablePagination-displayedRows{
    margin-top: 0;
    margin-bottom: 0rem;
}

.MuiTablePagination-selectLabel{
    margin-top: 0;
    margin-bottom: 0rem;
}

input[value=""]::-webkit-datetime-edit{ color: transparent; }
input:focus::-webkit-datetime-edit{ color: #000; }