.main{
    position: fixed;
    z-index: 129;
}

.leave-popup-main{
    position: fixed;
    top: 0vh;
    left: 0vw;
    width: 100vw;
    height: 100vh;
    z-index: 99;
    background-color: black;
    opacity: 0.6;
    font-family: sans-serif;
}

.leave-popup{

 position: fixed;
 background-color: rgb(217, 168, 141);
 top: 200px;
 left: 200px;
 display: flex;
 flex-direction: column;
 border-radius: 20px;
 z-index: 100;
 opacity: 1;
 font-family: sans-serif;
 
 

}

.head{
    display: flex;
    flex-direction: row;
}
.head-section1{
    margin: 10px 50px 10px 10px;
}
.head-section2{
    margin: 10px 10px 10px 50px;
}
.contents{
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 5px;
    
}
.lables{
    position: absolute;
    margin-left: 20px;
    padding-right: 30px;
    border-radius: 5px;
    border: 0px;

}
.submit{
    border-radius: 5px;
    border: 0;
    background-color: rgb(14, 14, 89) ;
    color: white ;
    padding: 4px 7px 4px 7px;
    

}

.submit:hover{
    background-color: rgb(33, 144, 219) ;
    color: rgb(0, 0, 0) ;
}