.flashcard-container {
    padding: 15px;
    border-radius: 3px;
    background-color: #1d112e;
    color: white;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    width: 100px;
  }
  
  .flashcard-button {
    
    padding: 8px;
    border-radius: 3px;
    border-color: rgb(18, 105, 98);
    background-color: rgb(54, 11, 94);
    color: white;
    margin: 5px;
    width: 150px;
  }