.login-11{
    margin-bottom: 20px;
    
    border-color: blueviolet;
    border-radius: 0px;
    padding: 5px 15px 3px 15px;
    
}
.login-12{
    margin-bottom: 20px;
    
    border-color: blueviolet;
    border-radius: 0px;
    padding: 5px 15px 3px 15px;
    
}



.btn{
    
    border-radius: 5px;
    border-width: 1px;
    border-color: blueviolet;
    background-color: blueviolet;
    color: white;
    padding: 5px 10px 5px 10px;
}
.btn:hover{
  background-color: rgb(172, 112, 228);
}

.login{
    width: fit-content;
    padding: 10px 10px 90px 10px;
    background-color:rgb(220, 183, 255);
    border-radius: 15px;
    margin-left: 40%;
    margin-top: 100px;
}
.sign-in{
    margin-bottom: 50px;
}