.vertical{
    display:flex;
    flex-direction: column;

}
.horizontal{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.top-bar{
    position: fixed;
    background-color: rgb(39, 38, 38);
    height: 70px;
    width: 105%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: smaller;
    z-index: 100;
    margin: 0;
    padding:0;
    left: -10px;
    top: -10px;
    border: 2px solid white;
    
}
.h1{
   display: flex;
   flex-direction: row;
   float: left;
}

.h2{

   position: absolute;
   left: 250px;
   margin-top: 10px;
   top: 60px;
   padding-left: 5px;
}
.botbutton{
    position: fixed;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: rgb(20, 89, 108);
    margin-top: 50px;
    z-index: 120;
    margin: 0;
    padding: 0;
    top: 50%;
    left: 0px;
    }
.botbutton:hover{
    background-color: rgb(31, 130, 157);
}


.sidebarcontainer{
    
    z-index: 80;
   
}
.h2-1{
    z-index: 85;
    position: relative;
    width: 500px;
    float: right;
    margin-left: 30px;
  
}
.h2-2{
    z-index: 83;
    position: relative;
    float: left;
  
}
